@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Sora", sans-serif;
}

.tab:focus{
    border-radius: 50px;
    color: #9538E3;

    
}
/* .react-tabs__tab--selected{
    border-radius: 50px;
    color: #9538E3;
    
} */